
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Layout</title>
</head>
<body>
    <div style="background-color: aliceblue"> 
        @RenderBody()

    </div>
</body>
</html>
