
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form method="post"action="/account/login">
    <label>Enter Username</label>
    <input type="text" name="username"/>
    <br />
    <label>Enter Password</label>
    <input type="password" name="password"/>
    <br />

    <input type="submit" value="Login" />

</form>