
@{
    ViewBag.Title = "Marks";
}
<div style="text-align: right">
    <h4>Welcome @Session["uname"]</h4>
</div>
<h2>Marks Details</h2>
<hr />
<form method="post" action="/student/marks">
    <h4>@TempData.Peek("sname")</h4> <br /> <!--This will preserve temp data for next request-->
    <label>Enter theory marks</label><br />
    <input type="text" name="theory" /><br />
    <label>Enter practical marks</label><br />
    <input type="text" name="practical" /><br />
    <label>Enter oral marks</label><br />
    <input type="text" name="Oral" /><br />

    <input type="submit" value="Save" />
</form>



<br />
<br />
@*@ViewBag.msg*@
<span style="color: red">@ViewData["msg"]</span>