
@{
    ViewBag.Title = "Personal";
}

<h2>Personal Details</h2>

<div style="text-align: right">
    <h4>Welcome @Session["uname"]</h4>
</div>

<form method="post" action="/student/personal">
    <label>Enter full name</label>
    <input type="text" name="sname" /> <br />
    <label>Enter address</label>
    <textarea name="address"></textarea> <br />
    <label>Enter contact</label>
    <input type="text" name="contact" /> <br />
    <input type="submit" value="Save" />
</form>


<br />
<br />
@*@ViewBag.msg*@
<span style="color: red" >@ViewBag.msg</span>