@using StronglyTypedView.Models @*Importing namespace*@
@model Student

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<br />
@Model.Rollno <br />
@Model.Name <br />
@Model.Address <br />
@Model.Course <br />