
@{
    ViewBag.Title = "Table";
}

<h2>Table</h2>

<hr />
<table class="table ">
    <thead>
        <tr>
            <th>S. No</th>
            <th>Name</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>ASP.NET MVC 5</td>
            <td>100 days</td>
        </tr>
        <tr>
            <td>2</td>
            <td>SQL</td>
            <td>200 days</td>
        </tr>
    </tbody>
    
</table>