
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<hr />
<form method="post" action="/account/register">
    <label>Name</label> <br />
    <input type="text" name="name" /> <br />

    <label>Address</label> <br />
    <textarea name="address"></textarea> <br />

    <label>Phone</label> <br />
    <input type="text" name="phone" /> <br />

    <label>Email</label> <br />
    <input type="text" name="email" /> <br />

    <label>Password</label> <br />
    <input type="password" name="pass" /> <br />

    <label>Confirm password</label> <br />
    <input type="password" name="confirmPass" /> <br />

    <input type="submit" value="Register" />

</form>